Repository vertica/VerticaPy, pull requests merged in 2023-09, with the labels that each got.

#692 aggregate and correlation UT code
  verticapy/tests_new/conftest.py
  verticapy/tests_new/core/vdataframe/__init__.py
  verticapy/tests_new/core/vdataframe/test_agg.py
  verticapy/tests_new/core/vdataframe/test_correlation.py
Labels: Unit Testing, Core - vDataFrame

#698 Added Options for horizontal and vertical bar chart
  verticapy/plotting/_plotly/bar.py
  verticapy/plotting/_plotly/barh.py
  verticapy/tests_new/plotting/plotly/test_plotly_bar.py
  verticapy/tests_new/plotting/plotly/test_plotly_barh.py
Labels: Enhancement, Plotting - Plotly

#699 added multi-plot functionalitt for plotly histogram plot
  verticapy/plotting/_plotly/hist.py
  verticapy/tests_new/plotting/base_test_files.py
  verticapy/tests_new/plotting/conftest.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_hist.py
  verticapy/tests_new/plotting/plotly/test_plotly_hist.py
Labels: Enhancement, Unit Testing, Plotting - Plotly

#700 highcharts histogram plot
  verticapy/plotting/_highcharts/__init__.py
  verticapy/plotting/_highcharts/hist.py
  verticapy/tests_new/plotting/highcharts/test_highcharts_hist.py
Labels: Enhancement, Unit Testing, Plotting - Highcharts

#701 Bugfix - Highcharts density plot
  verticapy/plotting/_highcharts/density.py
Labels: Bug, Plotting - Highcharts

#703 Update spider.py
  verticapy/plotting/_matplotlib/spider.py
Labels: Bug, Plotting - Matplotlib

#702 Update bar.py
  verticapy/plotting/_highcharts/bar.py
Labels: Bug, Plotting - Highcharts

#704 Color option added
  verticapy/plotting/_matplotlib/acf.py
  verticapy/plotting/_matplotlib/bar.py
  verticapy/plotting/_matplotlib/barh.py
  verticapy/plotting/_matplotlib/boxplot.py
  verticapy/plotting/_matplotlib/density.py
  verticapy/plotting/_matplotlib/hist.py
  verticapy/plotting/_matplotlib/line.py
  verticapy/plotting/_matplotlib/outliers.py
  verticapy/plotting/_matplotlib/pie.py
  verticapy/plotting/_matplotlib/range.py
  verticapy/plotting/_matplotlib/scatter.py
  verticapy/plotting/_matplotlib/spider.py
  verticapy/plotting/base.py
Labels: Bug, Enhancement, Plotting - Matplotlib

#707 Plotly Pie chart bug fix for size and color
  verticapy/plotting/_plotly/pie.py
Labels: Bug, Plotting - Plotly

#709 Kind parameter bug fix
  verticapy/plotting/_matplotlib/pie.py
Labels: Bug, Plotting - Matplotlib

#708 matplotlib Scatter Plot for category - color bugfix
  verticapy/plotting/_matplotlib/scatter.py
Labels: Bug, Plotting - Matplotlib

#710 Converted output to float
  verticapy/plotting/_highcharts/pie.py
Labels: Bug, Plotting - Highcharts

#706 scatter plot bug-fix and enhancement
  verticapy/plotting/_plotly/scatter.py
Labels: Bug, Enhancement, Plotting - Plotly

#711 Plotly Heatmap - Color options
  verticapy/plotting/_plotly/heatmap.py
Labels: Enhancement, Plotting - Plotly

#712 Plotly Range Plot Update
  verticapy/plotting/_plotly/range.py
Labels: Enhancement, Plotting - Plotly

#714 Matplotlib - Color correction for donut pie plot
  verticapy/plotting/_matplotlib/pie.py
Labels: Bug, Plotting - Matplotlib

#716 Plotly acf bugfix color
  verticapy/plotting/_plotly/acf.py
Labels: Bug, Plotting - Plotly

#713 Plotly Line Plot Update
  verticapy/plotting/_plotly/line.py
Labels: Enhancement, Plotting - Plotly

#715 Plotly Contour Plot - Color option
  verticapy/plotting/_plotly/contour.py
Labels: Bug, Enhancement, Plotting - Plotly

#718 Plotly Area Plot
  verticapy/plotting/_plotly/line.py
  verticapy/tests/vDataFrame/test_vDF_plot_plotly.py
  verticapy/tests_new/plotting/plotly/test_plotly_line.py
Labels: Bug, Enhancement, Plotting - Plotly

#717 Highcharts ACF plot bugfix
  verticapy/plotting/_highcharts/acf.py
Labels: Bug, Plotting - Highcharts

#720 Added Candlestick Plot to Plotly
  verticapy/plotting/_plotly/__init__.py
  verticapy/plotting/_plotly/candlestick.py
  verticapy/tests_new/plotting/base_test_files.py
  verticapy/tests_new/plotting/highcharts/test_highcharts_candlestick.py
  verticapy/tests_new/plotting/plotly/test_plotly_candlestick.py
Labels: New Feature, Plotting - Plotly

#722 Matplotlib Regression Plot - Color parameter fix
  verticapy/plotting/_matplotlib/machine_learning/regression.py
Labels: Enhancement, Plotting - Matplotlib

#721 Matplotlib Candlestick Plot Added
  verticapy/plotting/_matplotlib/__init__.py
  verticapy/plotting/_matplotlib/candlestick.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_candlestick.py
Labels: Enhancement, Plotting - Matplotlib

#723 SVM Plot - Color option
  verticapy/plotting/_matplotlib/machine_learning/svm.py
  verticapy/plotting/_plotly/machine_learning/svm.py
Labels: Enhancement, Plotting - Plotly, Plotting - Matplotlib

#730 Validation Curve - Return Chart Option
  verticapy/machine_learning/model_selection/hp_tuning/plotting.py
Labels: Enhancement, Plotting - Base

#729 Graphiz Tree Plot Bug FIx
  verticapy/machine_learning/memmodel/tree.py
Labels: Bug
