Repository vertica/VerticaPy, pull requests merged in 2023-07, with the labels that each got.

#661 Updating Vertica docker to 12.0.4 0
  .github/workflows/ci.yaml
  .github/workflows/master-codecov.yml
Labels: GitHub - Description | CI.CD | Action

#664 Average Precision Score
  verticapy/machine_learning/metrics/classification.py
Labels: New Feature, Machine Learning - Model Evaluation

#660 Overwrite model parameter
  verticapy/_config/config.py
  verticapy/machine_learning/model_selection/kmeans.py
  verticapy/machine_learning/model_selection/variables_selection.py
  verticapy/machine_learning/vertica/automl/clustering.py
  verticapy/machine_learning/vertica/automl/dataprep.py
  verticapy/machine_learning/vertica/automl/supervised.py
  verticapy/machine_learning/vertica/base.py
  verticapy/machine_learning/vertica/cluster.py
  verticapy/machine_learning/vertica/decomposition.py
  verticapy/machine_learning/vertica/ensemble.py
  verticapy/machine_learning/vertica/linear_model.py
  verticapy/machine_learning/vertica/naive_bayes.py
  verticapy/machine_learning/vertica/neighbors.py
  verticapy/machine_learning/vertica/pipeline.py
  verticapy/machine_learning/vertica/preprocessing.py
  verticapy/machine_learning/vertica/svm.py
  verticapy/machine_learning/vertica/tree.py
  verticapy/tests/utilities/test_utilities.py
  verticapy/tests/vDataFrame/test_vDF_plot_plotly.py
  verticapy/tests/vModel/test_countvectorizer.py
  verticapy/tests/vModel/test_dbscan.py
  verticapy/tests/vModel/test_delphi.py
  verticapy/tests/vModel/test_kde.py
  verticapy/tests/vModel/test_kmeans.py
  verticapy/tests/vModel/test_linear_regression.py
  verticapy/tests/vModel/test_lof.py
  verticapy/tests/vModel/test_model_selection.py
  verticapy/tests/vModel/test_pipeline.py
  verticapy/tests_new/machine_learning/vertica/linear_model/test_linear_regression.py
Labels: Machine Learning - System

#662 Optional model name
  verticapy/_utils/_gen.py
  verticapy/machine_learning/vertica/automl/dataprep.py
  verticapy/machine_learning/vertica/base.py
  verticapy/machine_learning/vertica/cluster.py
  verticapy/machine_learning/vertica/decomposition.py
  verticapy/machine_learning/vertica/ensemble.py
  verticapy/machine_learning/vertica/linear_model.py
  verticapy/machine_learning/vertica/naive_bayes.py
  verticapy/machine_learning/vertica/neighbors.py
  verticapy/machine_learning/vertica/preprocessing.py
  verticapy/machine_learning/vertica/svm.py
  verticapy/machine_learning/vertica/tree.py
  verticapy/tests/vModel/test_bisecting_kmeans.py
  verticapy/tests/vModel/test_countvectorizer.py
  verticapy/tests/vModel/test_dbscan.py
  verticapy/tests/vModel/test_decision_tree_classifier.py
  verticapy/tests/vModel/test_decision_tree_regressor.py
  verticapy/tests/vModel/test_dummy_tree_classifier.py
  verticapy/tests/vModel/test_dummy_tree_regressor.py
  verticapy/tests/vModel/test_elastic_net.py
  verticapy/tests/vModel/test_iforest.py
  verticapy/tests/vModel/test_knn_regressor.py
  verticapy/tests/vModel/test_kprototypes.py
  verticapy/tests/vModel/test_lasso.py
  verticapy/tests/vModel/test_linear_svc.py
  verticapy/tests/vModel/test_linear_svr.py
  verticapy/tests/vModel/test_logistic_regression.py
  verticapy/tests/vModel/test_mca.py
  verticapy/tests/vModel/test_naive_bayes.py
  verticapy/tests/vModel/test_nearestcentroid.py
  verticapy/tests/vModel/test_normalizer.py
  verticapy/tests/vModel/test_onehotencoder.py
  verticapy/tests/vModel/test_pca.py
  verticapy/tests/vModel/test_randomforest_classifier.py
  verticapy/tests/vModel/test_randomforest_regressor.py
  verticapy/tests/vModel/test_ridge.py
  verticapy/tests/vModel/test_svd.py
  verticapy/tests/vModel/test_xgb_classifier.py
  verticapy/tests/vModel/test_xgb_regressor.py
  verticapy/tests_new/plotting/base_test_files.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_kmeans.py
Labels: Machine Learning - System

#667 Update change log
  change_logs/change_log_v1.0.0-beta.md
Labels: Documentation

#678 657 unit testing tree regressors
  verticapy/tests_new/conftest.py
  verticapy/tests_new/machine_learning/vertica/__init__.py
  verticapy/tests_new/machine_learning/vertica/conftest.py
  verticapy/tests_new/machine_learning/vertica/linear_model/__init__.py
  verticapy/tests_new/machine_learning/vertica/linear_model/test_linear_regression.py
  verticapy/tests_new/machine_learning/vertica/test_base_model_methods.py
  verticapy/tests_new/machine_learning/vertica/test_linear_model.py
  verticapy/tests_new/machine_learning/vertica/test_tree_model.py
Labels: Unit Testing, Machine Learning - Classification, Machine Learning - Regression
