Repository vertica/VerticaPy, pull requests merged in 2023-04, with the labels that each got.

#577 Unit Tests skeleton
  verticapy/tests_new/__init__.py
  verticapy/tests_new/config/__init__.py
  verticapy/tests_new/conftest.py
  verticapy/tests_new/connection/__init__.py
  verticapy/tests_new/core/parsers/__init__.py
  verticapy/tests_new/core/string_sql/__init__.py
  verticapy/tests_new/core/tablesample/__init__.py
  verticapy/tests_new/core/vdataframe/__init__.py
  verticapy/tests_new/datasets/__init__.py
  verticapy/tests_new/jupyter/__init__.py
  verticapy/tests_new/jupyter/extensions/__init__.py
  verticapy/tests_new/machine_learning/__init__.py
  verticapy/tests_new/machine_learning/memmodel/__init__.py
  verticapy/tests_new/machine_learning/metrics/__init__.py
  verticapy/tests_new/machine_learning/metrics/test_classification_metrics.py
  verticapy/tests_new/machine_learning/model_selection/__init__.py
  verticapy/tests_new/machine_learning/vertica/__init__.py
  verticapy/tests_new/plotting/__init__.py
  verticapy/tests_new/plotting/highcharts/__init__.py
  verticapy/tests_new/plotting/matplotlib/__init__.py
  verticapy/tests_new/plotting/plotly/__init__.py
  verticapy/tests_new/sdk/__init__.py
  verticapy/tests_new/sql/__init__.py
  verticapy/tests_new/sql/functions/__init__.py
  verticapy/tests_new/sql/geo/__init__.py
  verticapy/tests_new/utils/__init__.py
Labels: Unit Testing

#587 plotly integration - stepwise
  verticapy/plotting/_plotly/__init__.py
  verticapy/plotting/_plotly/machine_learning/stepwise.py
  verticapy/tests/vDataFrame/test_vDF_plot_plotly.py
Labels: Plotting - Plotly

#586 Classification Metrics: Parameters Normalization
  verticapy/_utils/_sql/_vertica_version.py
  verticapy/learn/metrics/__init__.py
  verticapy/machine_learning/metrics/__init__.py
  verticapy/machine_learning/metrics/classification.py
  verticapy/machine_learning/model_selection/hp_tuning/cv.py
  verticapy/machine_learning/model_selection/hp_tuning/plotting.py
  verticapy/machine_learning/model_selection/model_validation.py
  verticapy/machine_learning/model_selection/variables_selection.py
  verticapy/machine_learning/vertica/base.py
  verticapy/machine_learning/vertica/neighbors.py
Labels: Machine Learning - Classification

#588 PLOTTING - Plotly Integration: Histogram
  verticapy/plotting/_plotly/__init__.py
  verticapy/plotting/_plotly/hist.py
  verticapy/tests/vDataFrame/test_vDF_plot_plotly.py
Labels: Plotting - Plotly

#589 Improving classification metrics precision
  verticapy/learn/metrics/__init__.py
  verticapy/machine_learning/metrics/__init__.py
  verticapy/machine_learning/metrics/classification.py
  verticapy/machine_learning/model_selection/hp_tuning/cv.py
  verticapy/machine_learning/model_selection/hp_tuning/plotting.py
  verticapy/machine_learning/model_selection/model_validation.py
  verticapy/machine_learning/model_selection/variables_selection.py
  verticapy/machine_learning/vertica/base.py
  verticapy/plotting/_matplotlib/machine_learning/svm.py
  verticapy/plotting/_plotly/hist.py
  verticapy/plotting/_plotly/machine_learning/champion_challenger.py
  verticapy/plotting/_plotly/machine_learning/regression_tree.py
  verticapy/plotting/_plotly/machine_learning/stepwise.py
  verticapy/plotting/_plotly/machine_learning/svm.py
  verticapy/tests/vDataFrame/test_vDF_plot_plotly.py
  verticapy/tests/vModel/test_model_selection.py
  verticapy/tests/vModel/test_naive_bayes.py
  verticapy/tests_new/conftest.py
  verticapy/tests_new/machine_learning/metrics/test_classification_metrics.py
Labels: Machine Learning - Classification

#590 Including 'with' statement in the query checker
  verticapy/_utils/_sql/_check.py
Labels: Jupyter

#593 Update connect.py
  verticapy/connection/connect.py
  verticapy/tests/vDataFrame/test_vDF_plot_plotly.py
Labels: Bug
