Repository vertica/VerticaPy, pull requests merged in 2023-06, with the labels that each got.

#610 Update classification.py
  verticapy/machine_learning/metrics/classification.py
Labels: Machine Learning - Classification

#601 Unit testing regression metrics
  verticapy/tests_new/machine_learning/metrics/test_classification_metrics.py
  verticapy/tests_new/machine_learning/metrics/test_regression_metrics.py
Labels: Unit Testing, Machine Learning - Regression

#620 Matplotlib plots unit tests new
  verticapy/tests_new/plotting/matplotlib/conftest.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/__init__.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_champion_challenger.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_elbow.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_importance.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_kmeans.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_lof.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_logistic_reg.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_model_evaluation.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_pca.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_regression.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_regression_tree.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_stepwise.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_svm.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_acf.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_bar.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_barh.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_base.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_boxplot.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_contour.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_density.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_heatmap.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_hexbin.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_hist.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_line.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_outliers.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_pie.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_range.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_scatter.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_spider.py
Labels: Unit Testing, Plotting - Matplotlib

#623 Create pylint.yml
  .github/workflows/pylint.yml
Labels: GitHub - Description | CI.CD | Action

#621 Update base_test_files.py
  verticapy/tests_new/plotting/base_test_files.py
  verticapy/tests_new/plotting/plotly/test_plotly_boxplot.py
Labels: Bug, Unit Testing

#626 Update README.md
  README.md
  verticapy/tests_new/plotting/plotly/test_plotly_boxplot.py
Labels: GitHub - Description | CI.CD | Action

#627 Black & Pylint badges
  README.md
Labels: GitHub - Description | CI.CD | Action

#629 Bug fix for voronoi chart unit test
  verticapy/tests/vDataFrame/test_vDF_plot_plotly.py
  verticapy/tests_new/plotting/plotly/machine_learning/test_plotly_kmeans.py
Labels: Bug, Unit Testing

#628 Bug Fix for 1D Outliers plot using matplotlib
  verticapy/plotting/_matplotlib/outliers.py
  verticapy/tests_new/plotting/matplotlib/test_matplotlib_outliers.py
Labels: Bug, Plotting - Matplotlib

#624 Update contribute file
  CONTRIBUTING.md
Labels: Documentation, GitHub - Description | CI.CD | Action

#616 Missing docstrings
  verticapy/core/vdataframe/_multiprocessing.py
  verticapy/plotting/_utils.py
  verticapy/plotting/base.py
Labels: Documentation

#631 619 unit testing classification metrics
  verticapy/tests_new/conftest.py
  verticapy/tests_new/machine_learning/metrics/test_classification_metrics.py
Labels: Unit Testing, Machine Learning - Classification

#630 Update readme
  README.md
Labels: Documentation

#634 Change graphics colors
  verticapy/plotting/base.py
Labels: Plotting - Base

#636 Update README.md
  README.md
Labels: Documentation

#638 Update readme 3
  README.md
Labels: Documentation

#639 Change log
  change_logs/change_log_v1.0.0-beta.md
Labels: Documentation

#642 roc_auc_score for multiclass classification using micro and macro averaging
  verticapy/machine_learning/metrics/classification.py
Labels: Bug, New Feature

#645 Bug Fix
  verticapy/core/vdataframe/_encoding.py
  verticapy/core/vdataframe/_filter.py
  verticapy/plotting/base.py
Labels: Bug

#646 Multiple bugs correction
  verticapy/_utils/_sql/_cast.py
  verticapy/core/vdataframe/_plotting.py
  verticapy/plotting/base.py
Labels: Bug

#647 bar plot 2d for plotly
  verticapy/core/vdataframe/_encoding.py
  verticapy/core/vdataframe/_plotting.py
  verticapy/plotting/_plotly/__init__.py
  verticapy/plotting/_plotly/bar.py
  verticapy/plotting/base.py
  verticapy/tests_new/plotting/base_test_files.py
  verticapy/tests_new/plotting/plotly/test_plotly_bar.py
Labels: Unit Testing, Plotting - Plotly

#652 Bug - highcharts multi-density plot
  verticapy/plotting/_highcharts/density.py
  verticapy/tests_new/plotting/highcharts/test_highcharts_density.py
Labels: Bug, Plotting - Highcharts

#651 Contour plot bug fix
  verticapy/plotting/_highcharts/contour.py
  verticapy/plotting/_plotly/contour.py
Labels: Bug, Plotting - Plotly, Plotting - Highcharts

#654 bug fix - multi-line plot
  verticapy/plotting/_highcharts/line.py
Labels: Bug, Plotting - Highcharts

#650 plotting visual bug fixes
  verticapy/plotting/_matplotlib/machine_learning/importance.py
  verticapy/plotting/_matplotlib/machine_learning/model_evaluation.py
  verticapy/plotting/_plotly/density.py
  verticapy/tests/vDataFrame/test_vDF_plot_plotly.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_importance.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_model_evaluation.py
  verticapy/tests_new/plotting/plotly/test_plotly_density.py
Labels: Bug, Plotting - Plotly, Plotting - Matplotlib

#655 Fixing Plotting Bug
  verticapy/core/vdataframe/_plotting.py
  verticapy/plotting/_highcharts/heatmap.py
Labels: Bug, Plotting - Highcharts, Plotting - Base

#648 633 unit testing linearregression
  verticapy/tests_new/conftest.py
  verticapy/tests_new/machine_learning/vertica/linear_model/__init__.py
  verticapy/tests_new/machine_learning/vertica/linear_model/test_linear_regression.py
Labels: Unit Testing, Machine Learning - Regression
