Repository vertica/VerticaPy, pull requests merged in 2024-09, with the labels that each got.

#1272 vDataFrame idisplay - Sorting bugfix
  verticapy/jupyter/_javascript.py
  verticapy/jupyter/html/style.css
Labels: Bug

#1270 [QPROF] Enhancements
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_interface.py
  verticapy/performance/vertica/qprof_utility.py
Labels: Performance

#1273 [QPROF] Session + baseplan
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_interface.py
  verticapy/tests_new/performance/vertica/test_tree.py
Labels: Performance

#1275 QueryProfiler Import - Bugfix - Small interval values
  verticapy/jupyter/_javascript.py
  verticapy/performance/vertica/collection/profile_import.py
  verticapy/performance/vertica/qprof.py
Labels: Bug

#1277 [QPROF] Multiple Enhancements
  verticapy/machine_learning/vertica/automl/supervised.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/tree.py
  verticapy/plotting/_plotly/machine_learning/champion_challenger.py
Labels: Performance

#1278 [QPROF] Session Control
  verticapy/performance/vertica/qprof.py
Labels: Performance

#1279 [vDF] Format vDC
  verticapy/__init__.py
  verticapy/_utils/_display.py
  verticapy/core/tablesample/base.py
  verticapy/core/vdataframe/_read.py
  verticapy/core/vdataframe/_utils.py
  verticapy/core/vdataframe/base.py
  verticapy/performance/vertica/qprof.py
Labels: Core - vDataFrame, Core - vDataColumn

#1281 [QPROF] Adding Merged Legend
  verticapy/__init__.py
  verticapy/performance/vertica/qprof_utility.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1282 [QPROF] Huge Improvements
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1283 [QPROF] Updating session params
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1284 [QPROF] New static method.
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_utility.py
Labels: Performance

#1285 [QPROF] Filtering by operator.
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1287 [QPROF] Many enhancements
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1288 QueryProfilerComparison - UI update
  verticapy/performance/vertica/qprof_interface.py
Labels: Enhancement, Performance

#1289 [QPROF] Small Enhancements
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1290 PLS Regression - PART1
  verticapy/_utils/_sql/_vertica_version.py
  verticapy/machine_learning/vertica/__init__.py
  verticapy/machine_learning/vertica/linear_model.py
  verticapy/performance/vertica/qprof_interface.py
Labels: Machine Learning - Regression

#1291 [PLS Regression] Finalizing the algorithm.
  verticapy/machine_learning/vertica/linear_model.py
  verticapy/machine_learning/vertica/model_management.py
Labels: Performance
