Repository vertica/VerticaPy, pull requests merged in 2024-10, with the labels that each got.

#1293 QueryProfielrComparison - UI enhancements
  verticapy/performance/vertica/qprof_interface.py
Labels: Enhancement, Performance

#1294 [QPROF] Enhancement
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1295 [QPROF] Improving tree perf
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1297 QueryProfilerInterface - UI Update
  verticapy/performance/vertica/qprof_interface.py
Labels: Enhancement, Performance

#1296 Verbosity
  verticapy/__init__.py
  verticapy/_config/config.py
  verticapy/_utils/_display.py
  verticapy/_utils/_parsers.py
  verticapy/_utils/_print.py
  verticapy/_utils/_sql/_display.py
  verticapy/_utils/_sql/_format.py
  verticapy/_utils/_sql/_sys.py
  verticapy/connection/connect.py
  verticapy/connection/oauth_manager.py
  verticapy/connection/write.py
  verticapy/core/parsers/all.py
  verticapy/core/parsers/csv.py
  verticapy/core/parsers/json.py
  verticapy/core/parsers/shp.py
  verticapy/core/tablesample/base.py
  verticapy/core/vdataframe/_aggregate.py
  verticapy/core/vdataframe/_encoding.py
  verticapy/core/vdataframe/_fill.py
  verticapy/core/vdataframe/_filter.py
  verticapy/core/vdataframe/_machine_learning.py
  verticapy/core/vdataframe/_math.py
  verticapy/core/vdataframe/_plotting.py
  verticapy/core/vdataframe/_read.py
  verticapy/core/vdataframe/_scaler.py
  verticapy/core/vdataframe/_sys.py
  verticapy/core/vdataframe/base.py
  verticapy/jupyter/_widgets.py
  verticapy/jupyter/extensions/chart_magic.py
  verticapy/jupyter/extensions/sql_magic.py
  verticapy/machine_learning/model_selection/hp_tuning/cv.py
  verticapy/machine_learning/model_selection/kmeans.py
  verticapy/machine_learning/model_selection/statistical_tests/ols.py
  verticapy/machine_learning/model_selection/variables_selection.py
  verticapy/machine_learning/vertica/automl/clustering.py
  verticapy/machine_learning/vertica/automl/supervised.py
  verticapy/machine_learning/vertica/base.py
  verticapy/machine_learning/vertica/neighbors.py
  verticapy/machine_learning/vertica/pipeline.py
  verticapy/machine_learning/vertica/preprocessing.py
  verticapy/machine_learning/vertica/tensorflow/freeze_tf2_model.py
  verticapy/machine_learning/vertica/tsa/base.py
  verticapy/machine_learning/vertica/tsa/ensemble.py
  verticapy/mlops/model_tracking/base.py
  verticapy/performance/vertica/collection/profile_export.py
  verticapy/performance/vertica/collection/profile_import.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_interface.py
  verticapy/pipeline/parser.py
  verticapy/plotting/_highcharts/scatter.py
  verticapy/plotting/_plotly/machine_learning/champion_challenger.py
  verticapy/plotting/_utils.py
  verticapy/plotting/base.py
  verticapy/sdk/vertica/udf/load.py
  verticapy/sql/dtypes.py
  verticapy/sql/geo/index.py
  verticapy/sql/insert.py
Labels: Config | Utils

#1299 Bugfix for display
  verticapy/jupyter/_widgets.py
Labels: Bug

#1300 QueryProfilerComparison - UI update
  verticapy/performance/vertica/qprof_interface.py
Labels: Bug, Enhancement, Performance

#1301 [Plot] Enhancements + Bug Fixes
  verticapy/__init__.py
  verticapy/_typing.py
  verticapy/core/vdataframe/_fill.py
  verticapy/core/vdataframe/_plotting.py
  verticapy/core/vdataframe/_sys.py
  verticapy/plotting/_matplotlib/bar.py
  verticapy/plotting/_matplotlib/barh.py
  verticapy/plotting/_matplotlib/pie.py
  verticapy/plotting/_matplotlib/spider.py
  verticapy/plotting/_plotly/bar.py
  verticapy/plotting/_plotly/barh.py
  verticapy/plotting/_plotly/pie.py
  verticapy/plotting/base.py
  verticapy/tests/sql/test_sql.py
  verticapy/tests/utilities/test_utilities.py
  verticapy/tests_new/core/vdataframe/test_sys.py
  verticapy/tests_new/mlops/test_model_tracking.py
Labels: Bug, Plotting - Base

#1302 [QPROF] Enhancement + misc
  verticapy/__init__.py
  verticapy/core/vdataframe/_plotting.py
  verticapy/core/vdataframe/_sys.py
  verticapy/performance/vertica/qprof.py
Labels: Enhancement, Performance

#1304 [IDISPLAY] Implementing the dark mode
  verticapy/__init__.py
  verticapy/jupyter/_javascript.py
  verticapy/jupyter/html/style-dark.css
Labels: Jupyter

#1319 Examples - PART5
  docs/source/_static/website/examples/data/base_station/shanghai_districts.csv
  docs/source/examples_business_base_station.rst
  examples/business/base_station/shanghai_districts.csv
  verticapy/__init__.py
  verticapy/plotting/_matplotlib/animated/bubble.py
Labels: Documentation

#1321 Example finalizing
  docs/source/examples.rst
  docs/source/examples_business.rst
  docs/source/examples_business_battery.rst
  docs/source/examples_learn.rst
  docs/source/examples_understand.rst
  docs/source/examples_understand_africa_education.rst
Labels: Documentation

#1323 [DOCUMENTATION] Final for v1.1.0
  docs/refresh.sh
  docs/source/examples_business_battery.rst
  docs/source/examples_business_booking.rst
  docs/source/examples_business_spotify.rst
  docs/source/examples_understand_amazon.rst
  docs/source/user_guide.rst
  docs/source/user_guide_data_exploration_charts.rst
  docs/source/user_guide_data_exploration_correlations.rst
  docs/source/user_guide_data_exploration_descriptive_statistics.rst
  docs/source/user_guide_data_ingestion.rst
  docs/source/user_guide_data_preparation_normalization.rst
  docs/source/user_guide_data_preparation_outliers.rst
  docs/source/user_guide_full_stack_complex_data_vmap.rst
  docs/source/user_guide_full_stack_linear_regression.rst
  docs/source/user_guide_full_stack_train_test_split.rst
  docs/source/user_guide_introduction.rst
  docs/source/user_guide_introduction_best_practices.rst
  docs/source/user_guide_introduction_vdf.rst
  docs/source/user_guide_performance_qprof.rst
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/tests_new/machine_learning/vertica/test_base_model_methods.py
Labels: Documentation

#1332 [Documentations] Correcting some bugs
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_interface.py
Labels: Bug, Documentation
