Repository vertica/VerticaPy, pull requests merged in 2024-03, with the labels that each got.

#1162 Vdataframe remaining unit test
  verticapy/tests/vDataFrame/img_test.png
  verticapy/tests/vDataFrame/test_vDF_create.py
  verticapy/tests/vDataFrame/test_vDF_descriptive_statistics.py
  verticapy/tests/vDataFrame/test_vDF_feature_engineering.py
  verticapy/tests/vDataFrame/test_vDF_plot.py
  verticapy/tests/vDataFrame/test_vDF_preprocessing.py
  verticapy/tests/vDataFrame/test_vDF_utilities.py
  verticapy/tests/vModel/test_delphi.py
  verticapy/tests_new/conftest.py
  verticapy/tests_new/core/vdataframe/conftest.py
  verticapy/tests_new/core/vdataframe/test_encoding.py
  verticapy/tests_new/core/vdataframe/test_io.py
  verticapy/tests_new/core/vdataframe/test_miscellaneous.py
  verticapy/tests_new/core/vdataframe/test_multiprocessing.py
  verticapy/tests_new/core/vdataframe/test_plotting.py
  verticapy/tests_new/core/vdataframe/test_plotting_animated.py
  verticapy/tests_new/core/vdataframe/test_scaler.py
  verticapy/tests_new/core/vdataframe/test_sys.py
  verticapy/tests_new/core/vdataframe/test_typing.py
  verticapy/tests_new/core/vdataframe/test_utils.py
  verticapy/tests_new/plotting/base_test_files.py
  verticapy/tests_new/plotting/matplotlib/machine_learning/test_matplotlib_kmeans.py
Labels: Unit Testing, Core - vDataFrame

#1182 [TimeSeries] Supporting By parameter.
  verticapy/machine_learning/vertica/base.py
  verticapy/machine_learning/vertica/tsa/__init__.py
  verticapy/machine_learning/vertica/tsa/arima.py
  verticapy/machine_learning/vertica/tsa/base.py
  verticapy/machine_learning/vertica/tsa/ensemble.py
Labels: Machine Learning - Time Series

#1187 [TimeSeriesByCategory] Adding the other functions.
  verticapy/machine_learning/vertica/tsa/base.py
  verticapy/machine_learning/vertica/tsa/ensemble.py
Labels: Machine Learning - Time Series

#1186 test code refactor for model creation and UT for kmeans
  verticapy/tests/vModel/test_kmeans.py
  verticapy/tests_new/machine_learning/vertica/__init__.py
  verticapy/tests_new/machine_learning/vertica/conftest.py
  verticapy/tests_new/machine_learning/vertica/model_utils.py
  verticapy/tests_new/machine_learning/vertica/test_base_model_methods.py
  verticapy/tests_new/machine_learning/vertica/test_cluster.py
  verticapy/tests_new/machine_learning/vertica/test_tree_model.py
Labels: Unit Testing, Machine Learning - Clustering

#1188 [QPROF] Performance optimization + bug
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1189 [QueryProfiler] Improving performance
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_interface.py
  verticapy/tests_new/performance/vertica/test_qprof.py
Labels: Performance

#1190 Doc Update - whats new v1.0.2 + TimeSeriesByCategory
  docs/source/machine_learning_vertica_time_series.rst
  docs/source/whats_new_v1_0_2.rst
  setup.py
  verticapy/__init__.py
  verticapy/machine_learning/vertica/tsa/ensemble.py
Labels: Documentation

#1193 Sphinx - doc update for compiling the entire doc
  docs/source/benchmarks_logistic_reg.rst
  docs/source/benchmarks_random_forest.rst
  docs/source/benchmarks_xgboost.rst
  docs/source/chart_gallery_boxplot.rst
  docs/source/chart_gallery_champion_challenger.rst
  docs/source/chart_gallery_classification_plot.rst
  docs/source/chart_gallery_elbow.rst
  docs/source/chart_gallery_guide.rst
  docs/source/chart_gallery_outliers.rst
  docs/source/chart_gallery_scatter.rst
  docs/source/chart_gallery_seasonal.rst
  docs/source/chart_gallery_spider.rst
  docs/source/chart_gallery_time_series.rst
  docs/source/performance_vertica.rst
  docs/source/statistics.rst
  docs/source/user_defined_funcs.rst
  verticapy/core/vdataframe/_plotting.py
  verticapy/jupyter/extensions/chart_magic.py
  verticapy/machine_learning/metrics/classification.py
  verticapy/machine_learning/model_selection/kmeans.py
  verticapy/machine_learning/vertica/cluster.py
Labels: Documentation

#1192 [QPROF] Accessing bytes_spilled value
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_utility.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1195 Qprof modifications
  requirements-testing.txt
  tox.ini
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_interface.py
  verticapy/tests_new/machine_learning/vertica/test_model_management.py
Labels: Performance

#1198 Update look + fix bug
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_interface.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1199 Queryprofiler import restriction for same target_schema and key_id combination
  verticapy/performance/vertica/collection/collection_tables.py
  verticapy/performance/vertica/collection/profile_import.py
Labels: Performance

#1201 Update version to 1.0.3
  setup.py
  verticapy/__init__.py
Labels: Config | Utils
