Repository vertica/VerticaPy, pull requests merged in 2024-08, with the labels that each got.

#1254 [QPROF] Multiple bugs corrections
  verticapy/__init__.py
  verticapy/core/vdataframe/base.py
  verticapy/machine_learning/metrics/regression.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_interface.py
  verticapy/performance/vertica/qprof_stats_tests.py
  verticapy/performance/vertica/qprof_utility.py
  verticapy/performance/vertica/tree.py
  verticapy/tests/stats/test_stats.py
  verticapy/tests/vModel/test_model_selection.py
Labels: Performance

#1255 [QProf] DCSlowEventsTable collection
  verticapy/performance/vertica/collection/collection_tables.py
  verticapy/performance/vertica/collection/profile_import.py
  verticapy/performance/vertica/qprof.py
  verticapy/tests_new/performance/vertica/collection/test_export_simple.py
Labels: Performance

#1256 Update Documentation Generation.md
  docs/Documentation Generation.md
  docs/source/machine_learning_vertica_time_series.rst
  docs/source/performance_vertica.rst
  docs/source/whats_new.rst
  docs/source/whats_new_v1_0_5.rst
  verticapy/machine_learning/vertica/tsa/arima.py
Labels: Documentation

#1257 [QPROF] Adding all the metrics to the tooltip
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_interface.py
  verticapy/performance/vertica/qprof_utility.py
  verticapy/performance/vertica/tree.py
  verticapy/tests_new/performance/vertica/test_qprof.py
Labels: Performance

#1258 [QPROF] Making the tooltips more consistent
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_interface.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1259 Finalising v1.0.5
  docs/source/whats_new_v1_0_5.rst
  setup.py
  verticapy/__init__.py
  verticapy/performance/vertica/qprof_interface.py
Labels: Performance

#1260 [QPROF] Correcting metrics.
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_interface.py
  verticapy/performance/vertica/qprof_utility.py
  verticapy/performance/vertica/tree.py
  verticapy/tests_new/performance/vertica/test_qprof.py
Labels: Bug, Performance

#1261 [QPROF] Many Improvements
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_utility.py
  verticapy/performance/vertica/tree.py
Labels: Bug, Performance

#1262 [QPROF] Multiple Corrections
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_utility.py
  verticapy/performance/vertica/tree.py
Labels: Bug, Performance

#1263 [QPROF] Adding more metrics
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_utility.py
  verticapy/performance/vertica/tree.py
Labels: Enhancement, Performance

#1265 QueryProfilerInterface - Bugfix
  verticapy/performance/vertica/qprof_interface.py
Labels: Bug

#1264 [QPROF] Adding the count operator metric
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_utility.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1266 [QPROF] Supporting NULL Value + More Checks
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1268 [QPROF] New checks
  verticapy/performance/vertica/qprof.py
Labels: Performance

#1271 IDisplay - Default show size change
  verticapy/jupyter/html/html_template_connected.html
Labels: Enhancement
