Repository vertica/VerticaPy, pull requests merged in 2024-06, with the labels that each got.

#1223 vDataFrame Style - Added CSS to change the size of the up and down sorting arrows on table
  verticapy/jupyter/html/style.css
Labels: Jupyter

#1220 Bugfix - QueryProfilerInterface - Index for Jump To Query
  verticapy/performance/vertica/qprof_interface.py
  verticapy/tests_new/machine_learning/vertica/test_tfidf.py
Labels: Bug

#1224 DML Support + few corrections
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/tree.py
  verticapy/tests_new/machine_learning/vertica/test_tfidf.py
Labels: Performance

#1225 Finalizing DML
  verticapy/performance/vertica/qprof_utility.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1226 QueryProfiler Interface Update - Added projection display widget + Query Execution Success info
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_interface.py
Labels: Enhancement, Performance

#1227 [QPROF] Adding insertion + bug correction
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_interface.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1228 [QPROF] Finalising the insert
  verticapy/performance/vertica/qprof.py
Labels: Performance

#1229 Bugfix - QueryProfilerInterface Path ID issue - Enabled Dropdown for Path id
  verticapy/performance/vertica/qprof_interface.py
Labels: Bug

#1230 QueryProfilerInterface - Update unit for time
  verticapy/performance/vertica/qprof_interface.py
Labels: Performance

#1232 bugfix - QueryProfilerInterface - Query Success Flag
  verticapy/performance/vertica/qprof.py
Labels: Bug

#1233 Correcting QPROF explain plan + DC SLOW EVENT + test correction
  verticapy/_utils/_parsers.py
  verticapy/performance/vertica/collection/collection_tables.py
  verticapy/performance/vertica/collection/profile_import.py
  verticapy/plotting/_plotly/machine_learning/kmeans.py
  verticapy/tests_new/machine_learning/vertica/test_base_model_methods.py
  verticapy/tests_new/machine_learning/vertica/test_linear_model.py
  verticapy/tests_new/machine_learning/vertica/test_model_management.py
  verticapy/tests_new/machine_learning/vertica/test_tree_model.py
  verticapy/tests_new/performance/vertica/collection/test_export_simple.py
Labels: Performance

#1240 Bugfix - Empty vDataFrame + export_profile
  verticapy/core/parsers/pandas.py
  verticapy/core/tablesample/base.py
  verticapy/core/vdataframe/_io.py
  verticapy/performance/vertica/collection/collection_tables.py
Labels: Bug, Performance

#1239 Correct Bugs
  verticapy/machine_learning/model_selection/hp_tuning/param_gen.py
  verticapy/tests_new/performance/vertica/test_qprof.py
Labels: Bug

#1241 VerticaPy Documentation Update : Fixed link + RFClassifier description
  docs/source/user_guide_data_preparation.rst
  setup.py
  verticapy/__init__.py
  verticapy/machine_learning/vertica/ensemble.py
  verticapy/tests/vModel/test_xgb_classifier.py
  verticapy/tests_new/machine_learning/vertica/test_linear_model.py
  verticapy/tests_new/machine_learning/vertica/test_tree_model.py
Labels: Documentation

#1242 Update Doc - Whats new Page for version 1.0.4 and 1.0.3
  docs/source/whats_new.rst
  docs/source/whats_new_v1_0_3.rst
  docs/source/whats_new_v1_0_4.rst
Labels: Documentation
