Repository vertica/VerticaPy, pull requests merged in 2024-05, with the labels that each got.

#1211 QprofInterface - Added button to switch temp_rel view
  verticapy/performance/vertica/qprof_interface.py
Labels: Enhancement

#1213 [QPROF] Multiple Improvements
  .github/workflows/pylint.yml
  verticapy/_config/config.py
  verticapy/_help.py
  verticapy/_utils/_display.py
  verticapy/_utils/_parsers.py
  verticapy/core/vdataframe/_corr.py
  verticapy/core/vdataframe/_io.py
  verticapy/core/vdataframe/_rolling.py
  verticapy/core/vdataframe/_typing.py
  verticapy/jupyter/_javascript.py
  verticapy/jupyter/extensions/sql_magic.py
  verticapy/machine_learning/vertica/automl/dataprep.py
  verticapy/performance/vertica/qprof.py
  verticapy/plotting/_matplotlib/animated/bubble.py
  verticapy/plotting/_matplotlib/scatter.py
  verticapy/plotting/_plotly/scatter.py
  verticapy/plotting/base.py
  verticapy/tests_new/machine_learning/vertica/test_linear_model.py
Labels: Performance

#1214 [QPROF] Many improvements
  verticapy/__init__.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/tree.py
  verticapy/plotting/base.py
Labels: Performance

#1216 Creating hidden functions for QueryProfiler class
  verticapy/performance/vertica/qprof.py
Labels: Bug, Enhancement

#1217 [QPROF] Closing many issues
  verticapy/_utils/_display.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_interface.py
  verticapy/performance/vertica/qprof_utility.py
  verticapy/performance/vertica/tree.py
  verticapy/tests_new/performance/vertica/collection/test_export_simple.py
  verticapy/tests_new/performance/vertica/test_qprof.py
Labels: Performance

#1218 Bugfix for creating QueryProfiler object with transaction, key and schema.
  verticapy/performance/vertica/collection/profile_import.py
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/qprof_utility.py
Labels: Bug
