Repository vertica/VerticaPy, pull requests merged in 2024-04, with the labels that each got.

#1203 Token refresh bugfix
  verticapy/connection/connect.py
  verticapy/connection/write.py
Labels: Bug

#1204 Qprof: Display plans in multiple sections
  verticapy/performance/vertica/qprof.py
  verticapy/performance/vertica/tree.py
Labels: Performance

#1206 QPROF - TEMPREL
  verticapy/performance/vertica/tree.py
Labels: Performance

#1208 Adding VAR to VerticaPy
  verticapy/_utils/_sql/_vertica_version.py
  verticapy/machine_learning/vertica/__init__.py
  verticapy/machine_learning/vertica/model_management.py
  verticapy/machine_learning/vertica/tsa/__init__.py
  verticapy/machine_learning/vertica/tsa/arima.py
  verticapy/machine_learning/vertica/tsa/base.py
  verticapy/plotting/base.py
  verticapy/tests_new/machine_learning/vertica/test_base_model_methods.py
Labels: Machine Learning - Time Series
